@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: Norse;
  src: url("../../assets/fonts/Norse-Bold.otf") format("opentype");
}

// root
$root-fn-size: 16px;

// Logo
$logo-fn-clr: #fff;
$logo-fn-size: 10rem;
$logo-fn-family: Norse;

// header
$header-fn-size: 1.5rem;
$header-fn-clr: #000;
$header-fn-family: "Roboto", sans-serif;
$header-fn-weight: 700;

// calltoaction - cta
$cta-fn-size: 1.5rem;
$cta-fn-clr: #000;
$cta-fn-family: "Roboto", sans-serif;
$cta-fn-weight: 700;

//credit
$credit-fn-clr: rgb(139, 139, 139);
$credit-fn-size: 0.8rem;

// input
$input-mg-tp: 1rem;

//input-label
$input-label-ls: 0.2rem;
$input-label-fn-size: 0.6rem;
$input-label-fn-clr: rgb(105, 105, 105);

// input field
$field-border-clr: rgb(105, 105, 105);
$field-border-radius: 0.2rem;
$field-fn-family: "Roboto", sans-serif;
$field-fn-clr: rgb(63, 63, 63);

$field-fc-bd-clr: rgb(63, 63, 63);
$field-invalid-bd-clr: rgb(250, 36, 36);

//footer

$btn-bg-clr: #e97248;
