@font-face {
  font-family: Norse;
  src: url("../../assets/fonts/Norse-Bold.otf") format("opentype");
}
// root
$root-fn-size: 16px;

// Logo
$logo-fn-clr: #fff;
$logo-fn-size: 10rem;
$logo-fn-family: Norse;
