@import "./varaibles";
:root {
  font-size: $root-fn-size;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;

  display: flex;
}

// side banner section

.side-bar {
  width: 30%;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .credit {
      color: $credit-fn-clr;
      font-size: $credit-fn-size;

      a {
        color: $credit-fn-clr;
      }
    }
  }

  // logo section

  .logo-container {
    width: 30%;
    background: rgba(0, 0, 0, 0.29);
    position: absolute;
    top: calc(30% - 161px);
    flex-shrink: auto;
    & {
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 150px;
          height: 150px;
        }

        h1 {
          font-size: $logo-fn-size;
          font-family: $logo-fn-family;
          color: $logo-fn-clr;
        }
      }
    }
  }
}

.main {
  width: 70%;
  background-color: #f5f5f5;

  .header {
    height: 30%;
    padding-top: 50px;
    padding-left: 50px;

    font-family: $header-fn-family;
    font-size: $header-fn-size;
    color: $header-fn-clr;
    font-weight: $header-fn-weight;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .form {
    height: 40%;
    padding-left: 50px;
    background: #fff;
    padding-top: 20px;

    .calltoaction {
      font-family: $cta-fn-family;
      font-size: $cta-fn-size;
      color: $cta-fn-clr;
      font-weight: $cta-fn-weight;
    }

    .inputs {
      margin-top: $input-mg-tp;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .group {
        width: 50%;
        display: flex;
        gap: 10rem;

        .input-label {
          letter-spacing: $input-label-ls;
          font-size: $input-label-fn-size;
          color: $input-label-fn-clr;
        }

        .field {
          width: 15rem;
          height: 1.5rem;
          border: 1px solid $field-border-clr;
          border-radius: $field-border-radius;
          font-family: $field-fn-family;
          padding: 0.3rem;
          color: $field-fn-clr;

          &:focus {
            border: 1px solid $field-fc-bd-clr;
          }

          &:not(:placeholder-shown):invalid {
            border: 1px solid $field-invalid-bd-clr;
          }
        }
      }
    }
  }

  .footer {
    height: 30%;
    padding-left: 50px;
    padding-top: 3rem;

    button[type="submit"] {
      width: 228px;
      height: 45px;
      background-color: $btn-bg-clr;
      box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
      border: none;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    p {
      margin-top: 1rem;
      margin-left: 0.5rem;
      a {
        color: #e97248;

        &:hover {
          cursor: pointer;
        }

        &:visited {
          color: #e97248;
        }
      }
    }
  }
}
